


#wholeborder
	{
		margin-left: 30px;
		margin-bottom: 30px;
	}
	
#audio
	{
		margin-top: 0px;
		margin-left: 0px;
		width: 900px;
	
	}

#welclub
	{
		margin-left:80px;
		margin-top: -50px;
	}


#welcome
	{
		margin-left: 0px;
	}
	
#hhclub
	{
		position: none;
		margin-left: 250px;
		
	}


#imagelink
	{
		margin-top: 30px;
		width: 600px;
	}

#abtusfont
	{
		position: none;
		margin-top: -300px ;
		margin-left: 650px ;
		width: 600px;
	
	}

#actfont
	{
		position: none;
		margin-top: 200px;
		margin-left: 50px;
		width: 500px;
	}

#actimlink
	{
		position: none;
		margin-top: -300px;
		margin-left: 650px;
		width: 500px;
	
	}

#rightimage1
	{
		position: none;
		margin-top: 0px;
		margin-left: 0px;
		width: 500px;
	}

#fontright
	{
		margin-top: -300px;
		margin-left: 650px;
		width: 600px;
	}

#fontleft
	{
		margin-top: 200px;
		margin-left: 0px;
		width: 600px;
	}
	
	
#rightimage2
	{
		margin-top: -300px;
		margin-left: 650px;
		width: 600px;
	}
	